<mat-card>Ingrese los datos del Cliente</mat-card>

<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmCliente="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Nombres" minlength="3" required formControlName="nombre">               
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Apellidos" required formControlName="apellido">        
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="correo" required formControlName="correo" type="mail">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Teléfono" required formControlName="telefono" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmCliente.invalid">
     <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/cliente' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
