<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogueado()"  > 
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
  
        <h1 class="example-app-name">SIGLO XXI</h1>
  
        <span class="example-spacer"></span>
  
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
  
        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button> -->
            <button mat-menu-item (click)="sidenav.opened = false" (click)="loginService.cerrarSesion();"  >
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="push">
            <img src="assets/logo.png" width="128" style="margin-left: 20px">
      

            
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/orden" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar Orden</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reserva" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Reservar Mesa</span>
            </button>
            <mat-divider></mat-divider>            
         
            <!-- <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/mesero" style="cursor: pointer">
                <mat-icon>fastfood</mat-icon>
                <span>Mesero</span>
            </button> -->
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/local" style="cursor: pointer">
                <mat-icon>store_mall_directory</mat-icon>
                <span>Local</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/mesa" style="cursor: pointer">
                <mat-icon>room_service</mat-icon>
                <span>Mesas</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/producto" style="cursor: pointer">
                <mat-icon>restaurant_menu</mat-icon>
                <span>Platos</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/tipo-producto" style="cursor: pointer">
                <mat-icon>restaurant_menu</mat-icon>
                <span>Tipo Productos</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/cliente" style="cursor: pointer">
                <mat-icon>accessibility</mat-icon>
                <span>Clientes</span>
            </button>
            <mat-divider></mat-divider>
            <!-- <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer">
                <mat-icon>assessment</mat-icon>
                <span>Reportes</span>
            </button> -->
        </mat-sidenav>
        
        <mat-sidenav-content>
          
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
  
</div>