.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    padding: 0 1rem;
    margin: 1rem;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  

  .title-component {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
  