<mat-toolbar class="title-component">Mesa</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar Mesa">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idMesa">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID Mesa </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idMesa}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad de la mesa </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.capacidad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button style="background-color: #00aeef; color:#ffffff;" (click)="abrirDialogo(row)" ><mat-icon>edit</mat-icon></button>
        <button mat-button style="background-color: #00205c; color:#ffffff;" (click)="eliminar(row)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="12" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab (click)="abrirDialogo()" style="float: right; margin-right: 20px; background-color: #00aeef;">
  <mat-icon>create</mat-icon>
</button>
